<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body class="bg-black">
    <h1 class="text-white bg-red-500">Insta</h1>
  </body>
</html>
